  body {
    color: #bbb;
  margin:0;
  padding:0;
  background:#000;
  text-align:center;
  }
  h4 {
  all: unset;
  display:block;
  color:fff;
  font-weight:bold;
  }

  .title {
    color:#fff;
    font-weight:bold;
    margin: 2px 0 2px 0;
  }

  .topbar {
      color: #bbb;
      padding: 2px;
      font-weight: bold;
    }

    .nav {
      background: #000;
      padding: 2px;
    }

    .nav a {
      color: #fff;
      margin: 0 3px;
      text-decoration: none;
      font-weight: bold;
    }

  .frame { 
    color: #bbb;
    margin:0 auto;
    background:#000;
  }

  input {
    color: #bbb;
    width:30%;
    padding:5px;
    margin:5px 0;
    border:1px solid #bbb;
    background: #000;
  }

  button {
    background:#ff2355;
    font-weight:bold;
    border-top:2px solid #ffa3b9;
    border-left:2px solid #ffa3b9;
    border-bottom: 2px solid #9d2241;
    border-right:2px solid #9d2241;
    color:#fff;
    padding:5px 15px;
    margin:10px 0;
    cursor:pointer;
  }
  
  button:hover {
    border-top:2px solid #9d2241;
    border-left:2px solid #9d2241;
    border-bottom: 2px solid #ffa3b9;
    border-right:2px solid #ffa3b9;
  }
  
  h2 {
    margin-top: 20px;
  }
  
 table {
    margin: 0 auto 0 5px;
    border-collapse: collapse;
  }
  
  td {
  padding: 2px 4px;
  vertical-align: top;
}
  img {
    height: auto;
  }
  .choose {
    background: #ff2355;
    color: #fff;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
  }
  .choose:hover {
    background: #c81b44;
  }

#dragonName {
  color:#bbb;
  font-weight: bold;
  text-align: center;
}

.dragon-bg {
  display: inline-block;
  background: url('/storage/emulated/0/HTML Editor/images/tfield_bg.png') center/contain no-repeat;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
}

#dragonImg {
  width:100px
}

td.dragon-cell {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.lvl-exp {
  color: #bbb;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.stat {
  text-align: left;
  font-weight: bold;
  vertical-align:middle;
}

#dragonLevel, #dragonExp, #hp, #atk, #def, #spd {
  font-weight: normal;
}

  a {
    color:#fff;
    text-decoration:none;
    font-weight:bold;
  }
    .footer-links {
      padding: 2px;
    }

    .footer-links a {
      margin: 0 5px;
    }

  .copyright {
    color:#bbb;
    font-weight:bold;
    margin:3px 0;
  }